* {
    margin: 0;
    padding: 0;
    

}


body{
overflow-y: scroll;
overflow-x: hidden;
background-color: #050005ff;/*remove*/
/*background-image: url(''); /*remove*/
width: 100vw;
background-size: cover;/*remove*/
background-attachment: fixed; /*remove*/
transition: all 1.5s;

}


body::-webkit-scrollbar {
width: 0; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Fondo transparente para la barra de desplazamiento */
border: none; /* Sin borde */
}
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Kanit:ital,wght@0,100;0,200;1,300&family=Lobster&family=Martian+Mono:wght@800&family=Skranji:wght@400;700&display=swap'); */


  

header{
    background: #881188;
}

.headers {
    background: transparent;
    display: flex;
    height: 4em;
    width: 100vw;
    align-items: center;
}

.header__nav {
    display: flex;
    width: 100%;
    background: transparent;
    align-items: center;
    height: 4em;
}
.header__nav-ul {
    display: inline-block;
    background: transparent;
    margin-left: auto;
    
}

.header__nav-li {
    display:  inline-block;
    margin: 0 1em;
    color: transparent;
    background: transparent;

}

.header__nav-li a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2em;
    color: #fff;
    background: transparent;
    outline: 2px solid #881188;
    outline-offset: 5px;
    border-radius: 2px;
    animation: giraBorde 5s ease infinite;

}

@keyframes giraBorde {
    0% {
        outline-color: #881188;
    }
    20% {
        outline-color: #aaa;
    }
    40%{
        outline-color: #881188;
    }
    60%{
        outline-color: #aaa;
    }
    80%{
        outline-color: #881188;
    }
    93%{
        outline-color: #aaa;
    }
}


.header__nav-li a:hover {
    color: #aaa;
}

.header__nav-li i {
    background: transparent;
    margin: 0 0.5em;
    font-size: 0.8em;
}

.fa-beat{
    animation: fa-beat 0.8s 3 !important;
}
.fa-bounce{
    animation: fa-bounce 0.8s 3 !important;
}

a img.logo-anime {
    width: 8em;
    height: auto;
    display: inline-block;
    background: transparent;
    margin-right: auto;
    margin-left: 0.3em;
}

.header2 {
    display: none;
}
/*header acabado*/



/*comienzo de las imagenes ruleta*/
.rotacion{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.rotacion-image{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, minmax(400px,1fr)) ;
    height: 325px;
    animation: carrusel 20s infinite alternate forwards;
}

.t1{
    background-color: #fff;
}

.t2{
    background-color: #fa0;
}

.t3{
    background-color: #f0f;


}

.t4{
    background-color: #ff0;

}

.t5{
    background-color: #f00;

}

.t6{
    background-color: #00f;
}

/*final de la rotacion de las imagenes*/

@media only screen and (max-width:900px) {
    .headers {
        display: none;
    }
    .header2{
        background: transparent;
        height: 3.8em;
        width: 100vw;
        display: inline-block;
        }
    .header__nav2{
        background: transparent;
        height: 3.8em;
        width: 100vw;
        display: flex;
        align-items: center;

    }    
    
    a img.logo-anime {
        width: 7em;
        height: auto;
        display: inline-block;
        background: transparent;
        margin-right: auto;
        margin-left: 0.3em;
    }
    

    .button {
        background: transparent;
        display: flex;
        order: 3;
        margin-right: 1em;
        background: transparent;
        margin-left: auto;
    }

    .button i{
        font-size: 2em;
        background: transparent;
        color: #ddd;
    }

    .header__nav-ul2{
        display: none;
    }

    .header__nav-ul3 {
        display: flex;
        flex-direction: column;
        background: #111;       
        color: transparent;
        position: absolute;
        margin-top: 17em;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
        padding: 10px;
        text-align: start;
        width: 100%;

    }
    
    .header__nav-li2 {
        background: transparent;
        color: transparent;
        line-height: 2.2;
        font-size: 1.1em;
       
    }
    .header__nav-li2 a {
        background: transparent;
        color: #ccc;
        text-decoration: none;
        font-size: 1.1em;
        font-family: monospace;
        margin-right: 1.3em;
        line-height: 1.5;
    }

    .header__nav-li2 a:hover{
        color: #c0c;
    } 
    .header__nav-li2 a i {
        background: transparent;
        margin: 0 0.5em;
    }

}